<header>

  <div class="container">
    <a href="#" routerLink="" class="logo"> Atacadista Nemesis</a>
    <nav>
      <ul>
        <input class="search-bar" buscar>
        <button class="btn-header"> <a routerLink="/home" routerLinkActive="selected">Home</a><br></button>
        <button class="btn-header"> <a routerLink="/login" routerLinkActive="selected">Entrar</a><br></button>
        <button class="btn-header"><a routerLink="/shopping-checkout" routerLinkActive="selected">Carrinho de Compras</a><br></button>
      </ul>
    </nav>
  </div>


</header>
<app-categ-menu></app-categ-menu>


