h1 {
  margin: 0;
  padding: 32px;
  background-color: rgb(206, 22, 22);
  color: rgb(255, 238, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li, a {
  list-style:none;
  flex-wrap: wrap;
  box-sizing: content-box;

}
