<header>

  <div class="container">
    <a href="#" routerLink="" class="logo"> Atacadista Nemesis</a>
    <nav>
      <ul>
        <input class="search-bar" buscar>
        <button class="btn-header"> <a href=" " routerLink="/about-page" >Home</a></button>
        <button class="btn-header"> <a href=" " routerLink="/login-page" >Entrar</a></button>
        <button class="btn-header"><a href=" " routerLink="/shopping-cart-page" >Carrinho de Compras</a> </button>
      </ul>
    </nav>
  </div>


</header>
<app-category></app-category>
